@import "tailwindcss";

@font-face {
  font-family: 'Startruck';
  src: url('./assets/fonts/Starstruck.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-starcktruck: 'Startruck', sans-serif;
  --font-berkshire: 'Berkshire Swash', serif;
  --font-coin: 'Coiny', system-ui;
}